.layout {
  &-aside {
    width: $layout-aside-width;
    min-width: 186px;
    max-width: 240px;
    background-color: $color-black;
  }
  &-header {
    height: $layout-header-height;
    padding: 0;
  }
  &-main{    
    padding: 0;
  }
}
